footer {
  background: #ededed;
}

footer .footer-container {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 0.5em;
}

footer .footer-container p {
    font-family: $font-family-fira-sans;
    color: white;
    display: block;
    float: left;
    margin-right: 12px;
}

footer .footer-container p:last-child {
    text-align: right;
    float: right;
    text-decoration: underline;
}

footer .footer-container p a {
    font-size: 1em;
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    color: #19303A;
}

@media only screen and (min-width: 75.625em) {

	footer {
		margin-top: 2em;
	}

	footer .footer-container {
		max-width: 1000px;
		margin: 0 auto;
	}
}